<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node js Com Express</title>
</head>
<body>
<h1>Ola Mundo Usando o Contatos</h1>

    <div style="color: red;font-family: roboto; list-style:none;text-decoration:none;font-size:30px;text-transform:uppercase" class="home">
        <li>facebook</li>
        <li>twiter</li>
        <li>Google+</li>
        <li>Istagran</li>
    </div>
    
</body>
</html> 